*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
    font-family: 'Roboto', sans-serif; 
}

.question-side input{
    margin-right: 5px;
}

.strike{
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.test-form{ /*container*/
    display: grid;
    grid-template-columns: 2fr 1fr ;
    justify-content: center;
    padding: 20px 0 20px 20px;
}

.question-side{
    border-radius: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(250px, 1fr));
    gap: 10px;
    border: 2px solid rgba(0, 0, 0, 1);
    padding: 10px;
}

.question-no{
    padding: 15px 15px 0 15px;
}
.question-content{
    padding: 15px 15px 5px 15px;
}

.answer-box{
    display: grid;
    gap:20px;
    padding: 15px;
}

.part{
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
}

.info-side{
    display: grid;
    grid-template-rows: 1fr 2fr;
    width: 85%;
    margin:  0 30px;
    border-radius: 10px;
    max-height: 300px;
    column-gap: 10px;
    row-gap: 0;
    border: 2px solid rgba(0, 0, 0, 1);
}

.info-side h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-side p{
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
}

.test-taker-info p{
    padding:20px;
}

textarea{
    padding: 5px;
}

textarea::placeholder{
    padding:5px;
    line-height: 1.5;
    resize: vertical;
    min-height: 100px;

}
